body {
	background: #000000;
}
#header .title{
	margin-right: auto;
	margin-left: auto;
	color:white;
	font-family: Lora;
	font-size: 25px;
	padding-bottom: 10%;
	text-align: center;
}

#header .circle{
	margin-right: auto;
	margin-left: auto;
}

#body .links{
	display: flex;
	color:white;
	padding-top: 0px;
	font-size: 25px;
	text-align: center;
	font-family: Lora;
	justify-content: space-around;


}

/*Links*/
A:link {
	text-decoration: none
}
A:visited {
	text-decoration: none
}
A:active {
	text-decoration: none
}
A:hover {
	text-decoration: underline; 
}
.github_link {
	color: #F1FAFB;
}


footer {
	display: flex;
	background: #000000;
	opacity: 0.1;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}
