body {
	background-image: url("img/city.jpeg");
	background-color: #f2f6ff;
	z-index: -1;
}

#header .title{
	margin: 0 auto;
	/*color:#ACE6F6;*/
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	padding-bottom: 3%;
	text-align: center;
}
#header .maintenance {
	color: #007AB5;
}
#header {
	background: #e3eaf7;
}

#header .circle{
	margin-right: auto;
	margin-left: auto;
}

.links{
	display: flex;
	color:white;
	padding-top: 10px;
	font-size: 25px;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	justify-content: space-around;

}

/*Links*/
A:link {
	text-decoration: none
}
A:visited {
	text-decoration: none
}
A:active {
	text-decoration: none
}
A:hover {
	text-decoration: none;
}

#github_link {
	color: #9bc0ff;
}
#linkedin_link {
	color: #7EA6F4;
}
#devpost_link {
	color: #4A4DE7;
}
#other_link {
	color: #446491;
}

#content {
	background: red;
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	position: relative;
	display:flex;
	flex-direction: row;
	z-index: 0;
}

#content > phone {
	background-color: yellowgreen;
}

/*#phone img {*/
#content img {
	/*position: fixed; */
	position: relative;
    /*bottom:0%;*/
    /*width:100%; 
    height: 100%;*/
    z-index: 5;
    /*display: block;*/
    max-width:900px;
    max-height:700px;
    /*width: auto;*/
    /*height: auto;*/
}

#phone_background {
	background: #e3eaf7;
	/*position:fixed;*/
	position: absolute;
	left:275px;
	bottom: 85px;
    width: 300px;
    height: 550px;
	opacity: 50%;
	z-index: 5;
}

.apps_container {
	background: #afdfff;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-between;
	/*position:fixed;*/
	position: absolute;
	left: 15px;
	width: 265px;
	height: 520px;
	bottom: 7px;
	z-index: 6;

}

.app img {
	/*position: absolute;*/
	padding: 4 4 4 4;
	width: 80px;
	height: 95px;
	
}

/*footer {
	display: flex;
	background: #cee0ff;
	opacity: 1;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}*/
