body {
	background-image: url("img/sanfran.png");
	background-color: #C2C2C2;
	z-index: -1;
	position: fixed;
	bottom: 0px;
}

#header .title{
	margin: 0 auto;
	/*color:#ACE6F6;*/
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	padding-top: 5%;
	padding-bottom: 3%;
	text-align: center;
	font-weight: 400;
}
#header .maintenance {
	color: #007AB5;
}
#header {
	background: #e3eaf7;
}

#header .circle{
	margin-right: auto;
	margin-left: auto;
}

.links{
	display: flex;
	color:white;
	padding-top: 10px;
	font-size: 25px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	justify-content: space-around;
	font-weight: 300;
}

/*Links*/
A:link {
	text-decoration: none
}
A:visited {
	text-decoration: none
}
A:active {
	text-decoration: none
}
A:hover {
	text-decoration: underline;
}

#github_link {
	color: #9bc0ff;
}
#linkedin_link {
	color: #7EA6F4;
}
#twitter_link {
	color: #4A4DE7;
}
#other_link {
	color: #446491;
}

#content {
	/* background: red; */
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	position: relative;
	display:flex;
	flex-direction: row;
	z-index: 0;
}

/* #content > phone {
	background-color: yellowgreen;
} */
/***********************BIRD*******************************/
#bird-animation {
	width: 300px;
	height: 300px;

	background-image: url('img/birds.png');
	background-size: 100%, 100%;
	background-position: left;
	background-repeat: no-repeat;

	animation-name: birds;
	animation-duration: 20.0s;
	animation-timing-function: steps(50);
	animation-iteration-count: infinite;
}

@keyframes birds {
	0% {
		background-position: left;
		transform: translate(0,0);
	}
	50% {
		transform: translate(300px, 0);
	}
	100% {
		backgroundposition: right;
		transform: translate(500px, 0);
	}

}

/***********************PHONE SIDE OF WEBSITE*******************************/
/*#phone img {*/
#content img {
	/*position: fixed; */
	position: relative;
    /*bottom:0%;*/
    /*width:100%; 
    height: 100%;*/
    z-index: 5;
    /*display: block;*/
    max-width:900px;
    max-height:700px;
    /*width: auto;*/
    /*height: auto;*/
}

#phone_background {
	background: #e3eaf7;
	/*position:fixed;*/
	position: absolute;
	left:275px;
	bottom: 85px;
    width: 300px;
    height: 550px;
	opacity: 100%;
	z-index: 6; /*making this look good makes the buttons not pressable*/
}

.apps_container {
	background: #afdfff;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-between;
	/*position:fixed;*/
	position: absolute;
	left: 15px;
	width: 265px;
	height: 515px;
	bottom: 7px;
	z-index: 6;

}

.app img {
	/*position: absolute;*/
	padding: 4 4 4 4;
	width: 80px;
	height: 95px;
	
}
/***********************CONTENT SIDE OF WEBSITE*******************************/
#responsive-content {
	/* background: #ffb2ce; */
	padding: 3em 3em 3em 3em;
	flex: 1;
}

#work-description {
	background: #fc8fb7;
	padding: 1em 1em 1em 1em;
	display: flex;
}

#close-description {
	position: relative;
	border: none;
	background: none;
}

#work-description img {
	position: absolute;
	width: 30px;
	height: 30px;
	/* top: 3px; */
	right: 5px;
}

/*footer {
	display: flex;
	background: #cee0ff;
	opacity: 1;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}*/
