body {
	background: #f7f8fc;

}
#header .title{
	margin-right: auto;
	margin-left: auto;
	/*color:#ACE6F6;*/
	font-family: Lora;
	font-size: 25px;
	padding-bottom: 10%;
	text-align: center;
}
#header .maintenance {
	color: #007AB5;
}

#header .circle{
	margin-right: auto;
	margin-left: auto;
}

#body .links{
	display: flex;
	color:white;
	padding-top: 0px;
	font-size: 25px;
	text-align: center;
	font-family: Lora;
	justify-content: space-around;


}

/*Links*/
A:link {
	text-decoration: none
}
A:visited {
	text-decoration: none
}
A:active {
	text-decoration: none
}
A:hover {
	text-decoration: none; 
}

#github_link {
	color: #A0E4F1;
}
#linkedin_link {
	color: #7EA6F4;
}
#devpost_link {
	color: #4A4DE7;
}
#other_link {
	color: #446491;
}


footer {
	display: flex;
	background: #000000;
	opacity: 1;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}
